
.caption                  {
    font-size: 20px;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    text-align: center;
    padding: 30px;
   
}

*{
    margin: auto;
    padding: auto;
}