*{
    margin: auto;
    padding: auto;
}

.image{
    text-align: left;
}

.a{
    padding-left: 50px;
}
.line{
    display: inline;
    
}
.space{
    padding-left: 320px;
}
.pad{
    padding-top: 100px;
}
h1{
    padding-top: 20px;
    font-size: 50px;
}